@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        font-family: 'Times New Roman MT Condensed', sans-serif;
        overflow-x: hidden;
    }

    h1,
    h2,
    h3,
    h4,
    .font-serif {
        font-family: 'TAN Vivre Libre', serif;
    }

    strong, b {
        font-family: 'loubag', sans-serif;
        font-weight: normal; /* Often custom display fonts have their own heavy weight inherently */
    }
}

/* 3D Flip Utilities */
@layer utilities {
    .perspective-1000 {
        perspective: 1000px;
    }

    .preserve-3d {
        transform-style: preserve-3d;
    }

    .backface-hidden {
        backface-visibility: hidden;
    }

    .rotate-y-180 {
        transform: rotateY(180deg);
    }
}